<!doctype html>
<html>
<head>
    <title>Fire Breathing Rubber Duckies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Fire Breathing Rubber Duckies</h1>
        <h2>A forum for friends to post their thoughts of the day</h2>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>
    <img src="img/login.png" alt="">
</div>
</body>
</html>
