<!doctype html>
<html>
<head>
    <title>Fire Breathing Rubber Duckies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="personal.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">

      <div class="page-header text-center">
          <h1>Personal Messages</h1>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          <a href="/general"> <button >To Main Forum</button> </a>
          <a href="/profile"> <button >To Messages</button> </a>
      </div>
  <div class="col-sm-6">
    <ul class="messages">
    <% for(var i=0; i<messages.length; i++) {%>
      <% if(messages[i].name === user.local.email ) {%>
      <li class="message">
        <p id="name"><%= messages[i].name %></p>
        <span id="msg"><%= messages[i].msg %></span>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      </li>
      <% } %>
    <% } %>
    </ul>
  </div>
</body>
</html>
